#consertamos{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #E6E4E6;
}

.titulo-consertamos{
    display: flex;
    align-items: center;
    height: 20%;
    padding-bottom: 15px;
}

.container-consertamos{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}


.card-consertamos{
    width: 45vh;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}


.img-card-consertamos{
    
}

.img-card-consertamos img {
    width: 100%;
    height: 30vh;
    border-radius: 20px;
}

.txt-card-consertamos{
    padding: 20px;
}