#consertamos{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #E6E4E6;
}

.titulo-consertamos{
    display: flex;
    align-items: center;
    height: 20%;
    padding-bottom: 30px;
}

.container-consertamos{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}


.card-consertamos{
    width: 50vh;
    max-width: 60vh;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
}


.img-card-consertamos{
    padding: 5px;
    margin-top:5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.img-card-consertamos img {
    width: 60%;
    height: 30vh;
    border-radius: 20px;

}

.txt-card-consertamos{
    padding: 20px;
    font-size: larger;
}