#contato{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #E6E4E6;
}

.titulo-contato{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.horarios-contato{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.lista{
    color: #EEFCFD;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 48%;
    background-color: #1E576C;
    padding: 20px;
    margin-bottom: 5px;
}

.horarios-contato ul{
    list-style-type: none;
    font-size: 25px;
}

.horarios-contato ul li {
    margin-bottom: 5px;
}


.txt-contato{
    display: flex;
    justify-content: center;
}


.whatsapp a{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 4rem;
    background-color: #2FA61C;
    border-radius: 4vh;
    width:250px;
    height: 65px;
    transition: all 0.3s ease;
}

.whatsapp a:hover{
    transform: scale(1.10);
}
