footer{
    display: flex;
    background-color:var(--azul-escurinho);
    color: var(--branco);
    align-items: center;
    justify-content: space-around;

    padding: 30px 0;
}

footer * {
    list-style-type: none;
}

.img-list-contato{
    display: flex; 
    align-items: center;
    margin-top: 5px;
}

.img-list-contato img {
    margin-inline: 5px;
}