footer{
    display: flex;
    background-color:var(--azul-escurinho);
    color: var(--branco);
    justify-content: space-between;
    padding: 30px 15vh;
}

footer * {
    list-style-type: none;
}

.img-list-contato{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.img-list-contato img {
    margin-inline: 5px;
}

.texto_footer{
    line-height:4.5vh;

}
