footer{
    display: flex;
    background-color:var(--azul-escurinho);
    color: var(--branco) !important;
    justify-content: space-between;
    padding: 30px 13vh;
}

footer * {
    list-style-type: none;
}

.logo-footer{
    display: flex;
    align-items: center;
    padding-inline: 15px;
    color:  var(--branco) !important;
    text-decoration: none;
}

.logo-footer h1{
    margin: 10px;
}

.img-list-contato{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.img-list-contato img {
    margin-inline: 5px;
}

.texto_footer{
    line-height:4.5vh;
    margin-inline-end: 7rem;
}

.texto_footer a{
    
    color: var(--branco);
    text-decoration: none;
}