header {
    height: 80px;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;

}

.menu-desktop ul li {
    list-style-type: none;
    display: inline-flex;
    transition: all 0.3s ease;
}

.menu-desktop a{
    transition: all 0.3s ease;
    border-radius: 10px;
}
.menu-desktop a:hover{
    transform: scale(1.2);
    color: #EEFCFD;
    background-color: #25B7D3;
}
.menu-desktop *{
    padding-inline: 15px;
    color: var(--preto);
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    padding-inline: 15px;
    color: black;
    text-decoration: none;
}

.logo h1{
    margin: 10px;
}

