header {
    height: 80px;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.menu-desktop ul li {
    list-style-type: none;
    display: inline-flex;
    transition: all 0.3s ease;
    padding-inline-start: 3rem;
}

.menu-desktop a{
    transition: all 0.3s ease;
    border-radius: 10px;
    font-size: large;
}
.menu-desktop a:hover{
    transform: scale(1.2);
    color: #EEFCFD;
    background-color: #25B7D3;
    padding-inline: 1rem;
}
.menu-desktop *{
    color: var(--preto);
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.logo h1{
    margin: 10px;
}

