#sobre{
    display: flex;
    padding: 50px 100px;
}

.container-sobre{
    display: flex;
    justify-content: space-between;
}

.img-sobre{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre img{
    border: 5px solid #1E576C;
    border-radius: 10px;
    width: 70%;
    margin-inline-end: 10rem;
}

.txt-sobre{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao-sobre p {
    text-align: justify;
}

.descricao-sobre{
    width: 100%;
    font-size: 30px;
}

.titulo-sobre{
    font-size: 50px;
    text-align: start;
    margin-bottom: 10px;
    width: 100%;
}

