@import url('header.css');
@import url('sobre.css');
@import url('consertamos.css');
@import url('produtos.css');
@import url('contato.css');
@import url('footer.css');

* {
    margin: 0;
    padding: 0;
}

.capa_principal{
    display: flex;
    flex-direction: column; /* título em cima, botões embaixo */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;  
    min-height: 260px;
    background: linear-gradient( rgba(0, 0, 0, 0.2)),url('../../../public/images/capa.png');
    background-size: cover;
    background-position: center;
}

#descricao_capa{
    margin-bottom: 10px;
    color: #FAFFFF;
      /* offset-x | offset-y | blur-radius | spread-radius | color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-capa {
    display: flex;
}

.btn-capa-principal{
    color: #EEFCFD;
    background-color: #25B7D3;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    min-width: 10vh;
    max-width: 15vh;
    margin-inline: 15px;
}


.subtitulos{
    font-size: 50px;
}

.card:hover{
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

:root{
    --azul-claro:#ADEBF4;
    --azul-escurinho:#1E576C;
    --branco:#FFFFFF;
}