@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('header.css');
@import url('sobre.css');
@import url('consertamos.css');
@import url('produtos.css');
@import url('contato.css');
@import url('footer.css');
html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans", sans-serif;
}


.capa_principal{
    display: flex;
    flex-direction: column; /* título em cima, botões embaixo */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;  
    min-height: 260px;
    background: linear-gradient( rgba(0, 0, 0, 0.2)),url('../../../public/images/capa.png');
    background-size: cover;
    background-position: center;
}

#descricao_capa{
    margin-bottom: 10px;
    color: #FAFFFF;
      /* offset-x | offset-y | blur-radius | spread-radius | color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
}

.btn-capa {
    display: flex;
    width: 30%;
}

.btn-capa-principal{
    flex-grow: 1;
    color: #EEFCFD;
    background-color: #25B7D3;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-inline: 15px;
    white-space: nowrap;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-capa-principal:hover{
    transform: scale(1.05);
}


.subtitulos{
    font-size: 50px;
}
.card{
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
}

:root{
    --azul-claro:#ADEBF4;
    --azul-escurinho:#1E576C;
    --branco:#EEFCFD;
}